{
    "parser": "babel-eslint",
    "settings": {
      "react": {
        "version": "detect"
      }
    },
    "env": {
      "browser": false,
      "es6": true
    },
    "plugins": [
      "react",
      "react-native"
    ],
    "extends": ["eslint:recommended", "plugin:react/recommended"],
    "rules": {
      "react/no-did-mount-set-state": 2,
      "react/no-direct-mutation-state": 2,
      "react/jsx-uses-vars": 2,
      "no-undef": "off",
      "semi": 2,
      "react/prop-types": 2,
      "react/jsx-no-bind": "off",
      "react/jsx-no-duplicate-props": 2
    },
    "globals": {
      "GLOBAL": false,
      "it": false,
      "expect": false,
      "describe": false
    }
}
